/* #future-canvas {
  width: 640px;
  height: 640px;
  margin: 20px auto;
  position: relative;
  background: rgb(0, 0, 0);
  overflow: hidden;
  border: 1px solid rgb(75, 75, 75);
} */
/*hello 
/*while looking at css stuff i realized that ---color=1234 is correct
and not color=#1234
if dashes removed css treats it as invalid says google

test css plus test ugly font import*/
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Cinzel+Decorative:wght@400;700&display=swap");
html,
body {
  width: 100%;
  min-height: 100vh;
  background: #000;
  color: #e3e3e3;
  font-family: "Share Tech Mono", "Courier New", monospace;
  overflow: hidden;
}
/*state container css woild go here as statemanager 
toggles display none to switch the screens
like defining a full-screen layout system for each “state” (screen)
so everything inside .state is perfectly centered in the screen when it comes time */
.state {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* opener css its purely typography and visual styling and will be changed */
#title-label {
  font-family: "Cinzel Decorative", "Georgia", serif;
  font-size: 13px;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.45);
  margin-bottom: 1.2rem;
}
/*billy ball container to strictly have a “this area is interactive / precise / clickable” defined
like a wrapper and positioned relative to this container, not the whole page
target for el <div id="ball-container"></div> 
ALSO the cross hair effect for the mouse cursoer hover to signal the "this area is interactive" visually */
#ball-container {
  position: relative;
  cursor: crosshair;
  line-height: 1;
}
/* this applies only to a <canvas> inside that container to fix wierd spacing 
and baseline text alignment issues when i dont want the random text (soon to be added as offshoots to game) to appear on the ball but
on anywhere else, blcok removes extra bottom spacing and makes this a rectangle */
#ball-container canvas {
  display: block;
}
/* for the subtext*/
#hint-label {
  font-size: 11px;
  letter-spacing: 0.18em;
  color: rgba(255, 255, 255, 0.22);
  margin-top: 0.1em;
}
